@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*--------------------*/
a, button {
  -webkit-transition: all .3s ease !important;
  transition: all .3s ease !important;
}

.sectionTitle, .main .main__container .left .title, .about .pageTitle, .about .title {
  font-family: 'Georgia Bold', serif;
}

.main .main__container .left .btn, .request .form .submit, .about .vacancies-contacts .send-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  background-color: #F16321;
  border-radius: 100px;
  width: 250px;
  height: 73px;
}

.main .main__container .left .btn:hover, .request .form .submit:hover, .about .vacancies-contacts .send-resume:hover {
  opacity: 0.8;
}

.directions .all-directions, .about .all-partners .btn, .about .vacancies-accordion .accordion__body .respond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #0FA8AE;
  border-radius: 100px;
  width: 250px;
  height: 62px;
}

.directions .all-directions:hover, .about .all-partners .btn:hover, .about .vacancies-accordion .accordion__body .respond:hover {
  opacity: 0.8;
}

.differences .links a, .directions .item .bottom .showAll, .doctors .all-doctors, .news .all-news {
  color: #0FA8AE;
  font-weight: 500;
  font-size: inherit;
}

.differences .links a:hover, .directions .item .bottom .showAll:hover, .doctors .all-doctors:hover, .news .all-news:hover {
  color: #F16321;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 300;
  color: #16324E;
}

@font-face {
  font-family: 'Georgia Bold';
  src: url("../fonts/Georgia-Bold.eot");
  src: url("../fonts/Georgia-Bold.eot?iefix") format("eot"), url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.sectionTitle {
  font-size: 50px;
  line-height: 100%;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.owl-carousel .owl-nav [class*=owl-] {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.22);
}

.main {
  padding-top: 20px;
  background: #FAF6F5;
}

.main .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__container .left .title {
  max-width: 590px;
  margin-top: 95px;
  font-weight: 700;
  font-size: 58px;
  line-height: 100%;
}

.main .main__container .left .text {
  max-width: 540px;
  font-size: 22px;
  margin: 22px 0 28px 0;
  line-height: 150%;
}

.main .main__container .right img {
  max-width: 100%;
}

.care {
  padding-top: 113px;
}

.care .sectionTitle {
  margin-bottom: 16px;
}

.care p {
  font-size: 22px;
  line-height: 150%;
  max-width: 690px;
}

.care p span {
  content: url(../img/metro.png);
  margin-right: 5px;
}

.care .care__img {
  max-width: 100%;
  margin-top: 20px;
}

.differences {
  padding: 113px 0 95px 0;
}

.differences .sectionTitle {
  margin-bottom: 44px;
}

.differences .item p {
  font-size: 18px;
  line-height: 140%;
  margin: 18px 0 37px 0;
}

.differences .links {
  font-size: 22px;
  line-height: 150%;
}

.differences .links b {
  font-weight: 500;
}

.differences .links a {
  border-bottom: 1px solid #B7E5E7;
}

.directions {
  padding: 88px 0;
  background: #F9FAFB;
}

.directions .sectionTitle {
  margin-bottom: 40px;
}

.directions .item {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 10px 20px -4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 10px 20px -4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 30px;
}

.directions .item .top img {
  width: 100%;
  height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.directions .item .bottom {
  padding: 24px 32px;
}

.directions .item .bottom .title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

.directions .item .bottom .link {
  font-size: 16px;
  color: #16324E;
  display: block;
  margin-bottom: 8px;
}

.directions .item .bottom .link:hover {
  color: #F16321;
}

.directions .item .bottom .showAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.directions .item .bottom .showAll span {
  display: block;
  margin: -4px 5px 0 0;
}

.directions .all-directions {
  width: 361px;
  margin: 0 auto;
}

.doctors {
  padding-top: 93px;
}

.doctors .container {
  border-bottom: 1px solid #DCE3EA;
}

.doctors .text {
  font-size: 22px;
  line-height: 150%;
  margin: 10px 0;
}

.doctors .doctors__slider .item img {
  width: 331px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: block;
}

.doctors .doctors__slider .item .name {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  margin-top: -10px;
}

.doctors .doctors__slider .item .desc {
  max-width: 270px;
  margin: 10px auto 18px auto;
  text-align: center;
}

.doctors .doctors__slider .item .record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #16324E;
}

.doctors .doctors__slider .item .record:hover {
  color: #F16321;
}

.doctors .doctors__slider .item .record:hover svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  stroke: #F16321;
}

.doctors .doctors__slider .owl-nav {
  width: 116%;
  top: 250px;
  left: -8%;
}

.doctors .all-doctors {
  margin: 43px 0 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doctors .all-doctors:hover svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  fill: #F16321;
}

.news {
  padding: 80px 0;
}

.news .sectionTitle {
  margin-bottom: 24px;
}

.news .news__slider .item {
  width: 100%;
  height: 320px;
  position: relative;
  border-radius: 16px;
  padding: 36px 25px 26px 33px;
  color: #fff;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news__slider .item .overflow {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35.2%, rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 35.2%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 0;
}

.news .news__slider .item .top .sale {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.news .news__slider .item .bottom {
  position: absolute;
  bottom: 36px;
  left: 33px;
  right: 25px;
}

.news .news__slider .item .bottom .title {
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 14px;
}

.news .news__slider .item .bottom .date {
  font-weight: 500;
}

.news .news__slider .owl-nav {
  width: 104%;
  left: -2%;
  top: 130px;
}

.news .news__slider .owl-dots {
  position: absolute;
  right: 0;
  top: -50px;
}

.news .news__slider .owl-dots .owl-dot span {
  margin: 0 5px;
  width: 8px;
  height: 8px;
}

.news .all-news {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .all-news:hover svg path {
  fill: #F16321;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.advantages {
  padding: 95px 0 105px 0;
  background: #F9FAFB;
}

.advantages .sectionTitle {
  margin-bottom: 37px;
}

.advantages .item .title {
  font-size: 22px;
  font-weight: 500;
  margin: 16px 0 5px 0;
}

.advantages .item svg path {
  stroke: #0FA8AE;
}

.companies {
  padding: 88px 0;
}

.companies .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.companies .wrapper .item img {
  width: 180px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
  text-align: center;
}

.companies .wrapper .item p {
  color: #95A8BB;
  text-align: center;
}

.request {
  padding: 70px 0;
  background-color: #0FA8AE;
}

.request .sectionTitle {
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.request .text {
  text-align: center;
  color: #F5F7F9;
  margin: 4px 0 27px 0;
  font-size: 20px;
  line-height: 150%;
}

.request .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.request .form .input {
  width: 300px;
  height: 73px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  background-color: #fff;
  gap: 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #fff;
}

.request .form .input.active {
  border: 2px solid #F16321;
}

.request .form .input input {
  font-weight: 300;
  font-size: 20px;
  width: 200px;
}

.request .form .input.captcha {
  border-radius: 100px 0 0 100px;
  width: 450px;
}

.request .form .input.captcha input {
  width: 120px;
  margin-right: 25px;
}

.request .form .submit {
  width: 242px;
  height: 73px;
  margin-left: -50px;
}

.request .form .submit:hover {
  opacity: 1;
  background-color: #F4824D;
}

.request .agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #F5F7F9;
}

.footer {
  position: relative;
  height: 450px;
}

.footer .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.footer .overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(78.34%, rgba(249, 250, 251, 0.9)), color-stop(95.58%, rgba(249, 250, 251, 0)));
  background: linear-gradient(90deg, rgba(249, 250, 251, 0.9) 78.34%, rgba(249, 250, 251, 0) 95.58%);
}

.footer .container {
  position: relative;
  z-index: 1;
}

.footer .container .address {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 21px;
}

.footer .container .address span {
  content: url(../img/metro.png);
  margin-right: 5px;
}

.footer .container .item {
  margin-bottom: 15px;
}

.footer .container .item .link {
  font-size: 20px;
  font-weight: 500;
  color: #16324E;
  display: block;
  margin-bottom: 3px;
}

.footer .container .item span {
  font-size: 18px;
}

.footer .container .credits {
  margin-top: 80px;
  color: #7F95AA;
  font-size: 15px;
}

.about {
  padding-top: 90px;
}

.about .pageTitle {
  font-weight: 700;
  font-size: 58px;
  line-height: 100%;
  margin-bottom: 24px;
}

.about .text {
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 8px;
}

.about .main-img {
  margin: 26px 0 36px 0;
  border-radius: 16px;
  max-width: 100%;
}

.about .title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
}

.about .galary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.about .galary img {
  width: 185px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .licencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.about .licencies img {
  width: 225px;
  height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .second-text {
  font-size: 19.5px;
  line-height: 150%;
  margin-bottom: 3px;
}

.about .partners {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .partners .item {
  width: 30%;
}

.about .partners .item img {
  width: 160px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.about .partners .item .name {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.about .partners .item .desc {
  font-size: 15px;
  line-height: 150%;
  margin: 5px 0 20px 0;
}

.about .partners .item .contact-title {
  font-size: 15px;
  line-height: 150%;
  color: #95A8BB;
}

.about .partners .item span {
  display: block;
  margin-bottom: 5px;
}

.about .all-partners {
  width: 100%;
  height: 340px;
  margin-top: -340px;
  position: relative;
  z-index: 90;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(63.47%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 63.47%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .all-partners .btn {
  width: 360px;
  height: 61px;
  margin-top: 187px;
}

.about .vacancies-title {
  margin: 0 0 7px 0;
}

.about .vacancies-contacts {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .vacancies-contacts .send-resume {
  gap: 7px;
  font-size: 20px;
  width: 290px;
  height: 70px;
}

.about .vacancies-contacts .item .item__title {
  line-height: 150%;
  font-size: 18px;
  color: #95A8BB;
}

.about .vacancies-contacts .item .item__body {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #16324E;
  border-bottom: 1px solid #DCE3EA;
}

.about .accordion .accordion__item {
  border-bottom: 1px dashed #B8C6D3;
  padding-bottom: 22px;
}

.about .accordion .accordion__item .accordion__button {
  width: 100%;
  padding-top: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .accordion .accordion__item .accordion__button::after {
  content: url(../img/accordion-arrow.svg);
  position: absolute;
  right: 0;
  top: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.about .accordion .accordion__item .accordion__button:not(.collapsed)::after {
  content: none;
}

.about .accordion .accordion__item:last-child {
  border-bottom: none;
}

.about .vacancies-accordion .accordion__body .location {
  font-size: 18px;
  line-height: 150%;
  color: #7F95AA;
  margin-bottom: 16px;
}

.about .vacancies-accordion .accordion__body .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}

.about .vacancies-accordion .accordion__body .desc .item {
  font-size: 18px;
  line-height: 150%;
}

.about .vacancies-accordion .accordion__body .desc .item .item__title {
  font-weight: 500;
  margin-bottom: 5px;
}

.about .vacancies-accordion .accordion__body .respond {
  width: 180px;
  height: 50px;
  margin-top: 20px;
}

.about .organization-accordion .accordion__body {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.about .overseers {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.about .overseers .item {
  width: 31%;
}

.about .overseers .item .name {
  margin: 23px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.about .overseers .item .contact-title {
  color: #95A8BB;
  font-size: 15px;
  line-height: 150%;
}

.about .overseers .item span {
  display: block;
  margin-bottom: 5px;
}

.about .requisites {
  padding-bottom: 70px;
}

.about .requisites .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 150%;
}

.about .requisites .item .item__title {
  width: 300px;
  margin-right: 30px;
  color: #7F95AA;
}

@media screen and (max-width: 1200px) {
  .main .main__container .left .btn, .request .form .submit, .about .vacancies-contacts .send-resume {
    font-size: 20px;
    height: 61px;
  }
  .sectionTitle {
    font-size: 40px;
  }
  .main .main__container .left .title {
    font-size: 43px;
    margin-top: 55px;
  }
  .main .main__container .left .text {
    font-size: 18px;
  }
  .care p {
    font-size: 18px;
  }
  .request .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request .form .input {
    width: 49%;
    margin-bottom: 15px;
  }
  .request .form .input.captcha {
    border-radius: 100px;
  }
  .request .form .submit {
    margin: 0 0 15px 0;
    width: 48%;
    height: 73px;
  }
}

@media screen and (max-width: 992px) {
  .main .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__container .left .btn {
    margin-bottom: 40px;
  }
  .care p br {
    display: none;
  }
  .advantages .item {
    margin-bottom: 30px;
  }
  .companies .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 70px;
            column-gap: 70px;
    row-gap: 20px;
  }
  .request .form .input.captcha {
    width: 100%;
  }
  .request .form .submit {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .care {
    padding-top: 50px;
  }
  .differences {
    padding: 50px 0;
  }
  .directions {
    padding: 50px 0 70px 0;
  }
  .doctors {
    padding-top: 70px;
  }
  .doctors .doctors__slider .item img {
    width: 250px;
    height: 290px;
  }
  .news .news__slider .owl-dots {
    display: none !important;
  }
  .advantages {
    padding: 50px 0;
  }
  .request .form .input {
    width: 100%;
    height: 63px;
    padding: 0 25px;
  }
  .request .form .input input {
    font-size: 16px;
  }
  .request .form .input.captcha input {
    width: 90px;
    margin-right: 3px;
  }
  .request .form .submit {
    height: 63px;
  }
  .footer .map {
    position: relative;
    height: 210px;
  }
  .footer .overflow {
    display: none;
  }
  .footer .container .address {
    margin-top: 30px;
  }
  .footer .container .credits {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
