@import '_zeroing';

// @media (min-width: 1400px) {
//     .container, .container-lg, .container-md, .container-sm, .container-xl {
//         max-width: 1310px;
//     }
// }

a, button {
    transition: all .3s ease !important;
}

$mainColor: #F16321;
$secondaryColor: #0FA8AE;
$textColor: #16324E;

%fontGeorgia {
    font-family: 'Georgia Bold', serif;
}

%mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    background-color: $mainColor;
    border-radius: 100px;
    width: 250px;
    height: 73px;
    
    &:hover {
        opacity: 0.8;
    }
}

%secondaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: $secondaryColor;
    border-radius: 100px;
    width: 250px;
    height: 62px;
    
    &:hover {
        opacity: 0.8;
    }
}

%link {
    color: $secondaryColor;
    font-weight: 500;
    font-size: inherit;

    &:hover {
        color: $mainColor;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    color: $textColor;
}

@font-face{
    font-family: 'Georgia Bold';
    src: url('../fonts/Georgia-Bold.eot');
    src: url('../fonts/Georgia-Bold.eot?iefix') format('eot'),
    url('../fonts/Georgia-Bold.woff') format('woff'),
    url('../fonts/Georgia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.sectionTitle {
    font-size: 50px;
    @extend %fontGeorgia;
    line-height: 100%;
}

.owl-carousel {
    position: relative;

    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        [class*=owl-] {    
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #fff !important;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.12);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            &:hover {
                background-color: #fff;
                box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.18), 0px 8px 18px rgba(0, 0, 0, 0.22);
            }
        }
    }
}

.main {
    padding-top: 20px;
    background: #FAF6F5;

    .main__container {
        display: flex;

        .left {
    
            .title {
                @extend %fontGeorgia;
                max-width: 590px;
                margin-top: 95px;
                font-weight: 700;
                font-size: 58px;
                line-height: 100%;
            }
    
            .text {
                max-width: 540px;
                font-size: 22px;
                margin: 22px 0 28px 0;
                line-height: 150%;
            }
    
            .btn {
                @extend %mainBtn;
            }
        }
    
        .right {
            img {
                max-width: 100%;
            }
        }
    }
}

.care {
    padding-top: 113px;
    
    .sectionTitle {
        margin-bottom: 16px;
    }

    p {
        font-size: 22px;
        line-height: 150%;
        max-width: 690px;

        span {
            content: url(../img/metro.png);
            margin-right: 5px;
        }
    }

    .care__img {
        max-width: 100%;
        margin-top: 20px;
    }
}

.differences {
    padding: 113px 0 95px 0;

    .sectionTitle {
        margin-bottom: 44px;
    }

    .item {
        p {
            font-size: 18px;
            line-height: 140%;
            margin: 18px 0 37px 0;
        }
    }

    .links {
        font-size: 22px;
        line-height: 150%;
    
        b {
            font-weight: 500;
        }

        a {
            @extend %link;
        }
    }
}

.directions {
    padding: 88px 0;
    background: #F9FAFB;

    .sectionTitle {
        margin-bottom: 40px;
    }

    .item {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 10px 20px -4px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        margin-bottom: 30px;

        .top {
            img {
                width: 100%;
                height: 207px;
                object-fit: cover;
                border-radius: 16px 16px 0 0;
            }
        }

        .bottom {
            padding: 24px 32px;

            .title {
                margin-bottom: 12px;
                font-weight: 500;
                font-size: 28px;
                line-height: 140%;
            }

            .link {
                font-size: 16px;
                color: $textColor;
                display: block;
                margin-bottom: 8px;

                &:hover {
                    color: $mainColor;
                }
            }

            .showAll {
                @extend %link;
                display: flex;

                span {
                    display: block;
                    margin: -4px 5px 0 0; 
                }
            }
        }
    }

    .all-directions {
        @extend %secondaryBtn;
        width: 361px;
        margin: 0 auto;
    }
}

.doctors {
    padding-top: 93px;

    .container {
        border-bottom: 1px solid #DCE3EA;
    }

    .text {
        font-size: 22px;
        line-height: 150%;
        margin: 10px 0;
    }

    .doctors__slider {
        .item {
            img {
                width: 331px;
                height: 396px;
                object-fit: cover;
                margin: 0 auto;
                display: block;
            }

            .name {
                font-weight: 500;
                font-size: 28px;
                line-height: 120%;
                text-align: center;
                margin-top: -10px;
            }

            .desc {
                max-width: 270px;
                margin: 10px auto 18px auto;
                text-align: center;
            }

            .record {
                display: flex;
                gap: 9px;
                justify-content: center;
                color: $textColor;

                &:hover {
                    color: $mainColor;

                    svg path {
                        transition: all .3s ease;
                        stroke: $mainColor;
                    }
                }
            }
        }

        .owl-nav {
            width: 116%;
            top: 250px;
            left: -8%;
        }
    }

    .all-doctors {
        margin: 43px 0 93px 0;
        @extend %link;
        display: flex;
        gap: 8px;
        font-size: 20px;
        justify-content: center;
        align-items: center;

        &:hover {
            svg path {
                transition: all .3s ease;
                fill: $mainColor;
            }
        }
    }
}

.news {
    padding: 80px 0;

    .sectionTitle {
        margin-bottom: 24px;
    }

    .news__slider {
        .item {
            width: 100%;
            height: 320px;
            position: relative;
            border-radius: 16px;
            padding: 36px 25px 26px 33px;
            color: #fff;
            display: block;
            display: flex;
            flex-direction: column;
            
            .overflow {
                border-radius: 16px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 35.2%, rgba(0, 0, 0, 0.6) 100%);
                z-index: 0;
            }

            .top {
                .sale {
                    position: relative;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }

            .bottom {
                position: absolute;
                bottom: 36px;
                left: 33px;
                right: 25px;

                .title {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 120%;
                    margin-bottom: 14px;
                }
    
                .date {
                    font-weight: 500;
                }
            }
        }

        .owl-nav {
            width: 104%;
            left: -2%;
            top: 130px;
        }

        .owl-dots {
            position: absolute;
            right: 0;
            top: -50px;

            .owl-dot {
                span {
                    margin: 0 5px;
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    .all-news {
        margin-top: 27px;
        display: flex;
        gap: 8px;
        align-items: center;
        @extend %link;

        &:hover {
            svg path {
                fill: $mainColor;
                transition: all .3s ease;
            }
        }
    }
}

.advantages {
    padding: 95px 0 105px 0;
    background: #F9FAFB;


    .sectionTitle {
        margin-bottom: 37px;
    }

    .item {
        .title {
            font-size: 22px;
            font-weight: 500;
            margin: 16px 0 5px 0;
        }

        svg path {
            stroke: $secondaryColor
        }
    }



}

.companies {
    padding: 88px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .item {
            img {
                width: 180px;
                height: 70px;
                object-fit: contain;
                margin-bottom: 10px;
                text-align: center;
            }

            p {
                color: #95A8BB;
                text-align: center;
            }
        }
    }
}

.request {
    padding: 70px 0;
    background-color: $secondaryColor;

    .sectionTitle {
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #fff;
    }

    .text {
        text-align: center;
        color: #F5F7F9;
        margin: 4px 0 27px 0;
        font-size: 20px;
        line-height: 150%;
    }

    .form {
        display: flex;
        align-items: center;
        gap: 8px;

        .input {
            width: 300px;
            height: 73px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            padding: 0 35px;
            background-color: #fff;
            gap: 8px;
            transition: all .3s ease;
            border: 2px solid #fff;

            &.active {
                border: 2px solid #F16321;
            }

            input {
                font-weight: 300;
                font-size: 20px;
                width: 200px;
            }

            &.captcha {
                border-radius: 100px 0 0 100px;
                width: 450px;

                input {
                    width: 120px;
                    margin-right: 25px;
                }                
            }
        }

        .submit {
            @extend %mainBtn;
            width: 242px;
            height: 73px;
            margin-left: -50px;

            &:hover {
                opacity: 1;
                background-color: #F4824D;
            }
        }
    }

    .agreement {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 150%;
        color: #F5F7F9
    }
}

.footer {
    position: relative;
    height: 450px;
    
    .map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .overflow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 40%;
        height: 100%;
        background: linear-gradient(90deg, rgba(249, 250, 251, 0.9) 78.34%, rgba(249, 250, 251, 0) 95.58%);
    }

    .container {
        position: relative;
        z-index: 1;   

        .address {    
            margin-top: 80px;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 21px;

            span {
                content: url(../img/metro.png);
                margin-right: 5px;
            }
        }   

        .item {
            margin-bottom: 15px;

            .link {
                font-size: 20px;
                font-weight: 500;
                color: $textColor;
                display: block;
                margin-bottom: 3px;
            }

            span {
                font-size: 18px;
            }
        }

        .credits {
            margin-top: 80px;
            color: #7F95AA;
            font-size: 15px;
        }
    } 
}

@media screen and (max-width: 1200px) {
    %mainBtn {
        font-size: 20px;
        height: 61px;
    }

    .sectionTitle {
        font-size: 40px;
    }
    
    .main {
        .main__container {
            .left {
                .title {
                    font-size: 43px;
                    margin-top: 55px;
                }
                
                .text {
                    font-size: 18px;
                }
            }
        }
    }
    
    .care p {
        font-size: 18px;
    }

    .request {
        .form {
            flex-wrap: wrap;
            
            .input {
                width: 49%;
                margin-bottom: 15px;

                &.captcha {
                    border-radius: 100px;
                }
            }

            .submit {
                margin: 0 0 15px 0;
                width: 48%;
                height: 73px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        .main__container {
            flex-direction: column;
            
            .left {
                .btn {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .care {
        p br {
            display: none;
        }
    }

    .advantages {
        .item {
            margin-bottom: 30px;
        }
    }

    .companies {
        .wrapper {
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 70px;
            row-gap: 20px;
        }
    }

    .request {
        .form {
            .input.captcha {
                width: 100%;
            }

            .submit {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .request {
        .form {
            .input {
                width: 100%;
                height: 63px;
                padding: 0 25px;

                input {
                    font-size: 16px;
                }

                &.captcha {
                    input {
                        width: 90px;
                        margin-right: 3px;
                    }
                }
            }

            .submit {
                height: 63px;
            }
        }
    }

    .footer {
        .map {
            position: relative;
            height: 210px;
        }

        .overflow {
            display: none;
        }

        .container {
            .address {
                margin-top: 30px;
            }

            .credits {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 576px) {

}